<div class="gazooies-block">
  <% @gazooies.each do |gazooy| %>
      <div class="gazooy-block">
        <p><%= gazooy.text.gsub(gazooy.text.slice(/#\w+/), '<a href="' + hash_tag_path(gazooy.text.slice(/#\w+/).sub!("#", "")) + '">' + gazooy.text.slice(/#\w+/) + '</a>').html_safe %></p>
        <%= link_to profile_path(gazooy.user.username), class: 'avatar' do %>
            <%= image_tag(gazooy.user.profile.avatar.thumb.url, :alt => 'avatar', class: 'avatar', width: 150, height: 150) %>
        <% end %>
      </div>
  <% end %>
</div>
